force-app/main/default/flows/Price_Rollup_to_Expense_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>UpdateTotal</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!ExpenseReportRecord.Total_Amount__c}, 0) + {!$Record.Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>AI Generated Flow for a record trigger flow, that executes whenever an expense...</interviewLabel>
    <label>Price Rollup to Expense Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptId</name>
        <value>
            <stringValue>201fed62-1bca-4a45-b93d-f0e5a16559d2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptLlmIds</name>
        <value>
            <stringValue>[&quot;96809a00-2539-46b8-94e4-28763444ee61&quot;,&quot;48eb4a5a-f4cf-4c20-83ed-ba7d32314139&quot;,&quot;5e7f4b84-43b3-4847-9465-9313a964a5cc&quot;]</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Price from Expense Report</description>
        <name>Get_Expense_Report</name>
        <label>Get Expense Report</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Expense_Report__c</elementReference>
            </value>
        </filters>
        <object>Expense_Report__c</object>
        <outputReference>ExpenseReportRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Total Amount in Expense Report</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>UpdateTotal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Expense_Report__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Expense_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Expense_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExpenseReportRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Expense_Report__c</objectType>
    </variables>
</Flow>
